<div
  class="table-responsive"
>
  <table
    class="table table-bordered table-hover"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>CatImage</th>
        <th>IsActive</th>
        <th>Date</th>

      </tr>
    </thead>
    <tbody>
      @for (item of cats; track $index) {
      <tr>
        <td>{{item.catName}}</td>
        <td><img [src]="getFullImagePath(item.catImage)" alt="Category Image"></td>
        <td>{{item.isActive}}</td>
        <td>{{item.createdDate}}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
