<div
    class="table-responsive"
>
    <table
        class="table table-hover table-bordered"
    >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order id</th>
                <th scope="col">Order date</th>
                <th scope="col">User Id </th>
                <th scope="col">Payment Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Cancelled</th>
                <th scope="col" colspan="2" class="text-center">Operations</th>
            </tr>
        </thead>
        <tbody>
            @for(item of orders ; track item.orderId ; let i=$index){
                <tr class="">
                    <td>{{i+1}}</td>
                    <td >{{item.orderId}}</td>
                    <td>{{item.orderDate|date}}</td>
                    <td>{{item.userId}}</td>
                    <td>{{item.paymentId}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.isCancel}}</td>
                    <td>
                    <button class="btn btn-info"
                    [routerLink]="['/order/details',item.orderId]" >Details</button>
                    </td>
                    <td> 
                    <button class="btn btn-primary"
                    [routerLink]="['/order/edit',item.orderId]" >Edit</button>
                    </td>
                </tr>
            }@empty {
                <tr class="">
                    <td colspan="11" class="text-center">no orders exist</td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" [routerLink]="['/order/add']" >Add</button>

</div>
