<p>order-list works!</p>
<div
    class="table-responsive"
>
    <table
        class="table table-hover table-bordered"
    >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order id</th>
                <th scope="col">Quantity</th>
                <th scope="col">Status</th>
                <th scope="col">Order date</th>
            </tr>
        </thead>
        <tbody>
            @for(item of orders ; track item.orderId ; let i=$index){
                <tr class="">
                    <td>{{i+1}}</td>
                    <td >{{item.orderId}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.orderDate|date}}</td>
                </tr>
            }@empty {
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
            }
            
         
        </tbody>
    </table>
</div>
