<br>
<h1>Edit Order</h1>
<br>
<label>Order ID</label><br>
<input type="text" placeholder="Order ID" [(ngModel)]="order.orderId" disabled><br>

<label>Order Date</label><br>
<input type="text" placeholder="Order Date" [(ngModel)]="order.orderDate"><br>

<label>User ID</label><br>
<input type="text" placeholder="User ID" [(ngModel)]="order.userId"><br>

<label>Payment ID</label><br>
<input type="text" placeholder="Payment ID" [(ngModel)]="order.paymentId"><br>

<label>Product ID</label><br>
<input type="text" placeholder="Product ID" [(ngModel)]="order.productId"><br>

<label>Quantity</label><br>
<input type="text" placeholder="Quantity" [(ngModel)]="order.quantity"><br>

<label>Status</label><br>
<input type="text" placeholder="Status" [(ngModel)]="order.status"><br>

<label>Is Cancelled</label><br>
<input type="text" placeholder="Is Cancelled" [(ngModel)]="order.isCancel"><br>

<button class="btn btn-primary" (click)="update()">Update</button>
<br>